/* Stles for CheckInButton Component */
.check-in-button {
    color: var(--secondary-theme);
    font-weight: var(--font-weight-bold-1);
    display: flex;
    gap: 0.25em;
    align-items: center;
    background: none;
    border: none;
    font-size: var(--font-size-sub-heading);
    text-align: right;
    white-space: nowrap;
}