/* styles for filters dropdown container */
.filters-dropdown-container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15000;
}

/* styles for filters dropdown */
.filters-dropdown {
    background-color: white;
    color: #F49D1A;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    overflow: hidden;
}

/* styles for filters dropdown header containing back and reset buttons */
.filters-dropdown .filters-header {
    background-color: var(--dark-theme);
}

/* styles for filters dropdown header title text */
.filters-dropdown .filters-header h2 {
    color: white;
    font-size: var(--font-size-heading);
}

/* styles for filters dropdown header buttons container */
.filters-dropdown .action-buttons-container {
    display: flex;
    justify-content: space-between;
}

/* styles for filters dropdown header button */
.filters-dropdown .action-buttons-container button {
    font-weight: 500;
    border: none;
    color: var(--secondary-theme);
    background: none;
    font-size: var(--font-size-smaller);
    display: flex;
    align-items: center;
    gap: 0.25em;
}

/* styles for filters dropdown header button icon */
.filters-dropdown .action-buttons-container button .icon {
    color: var(--secondary-theme);
}

/* styles for filters dropdown filters */
.filters-dropdown .filters {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* styles for filters dropdown sub headings */
.filters-dropdown h3 {
    font-size: var(--font-size-sub-heading);
    font-weight: var(--font-weight-bold-1);
    margin-bottom: 0.75em;
    color: var(--primary-theme);
}

/* styles for reset button icon */
.ban-icon {
    color: var(--primary-theme);
}

/* styles for apply button */
.filters-dropdown .apply-button {
    border-radius: var(--border-radius);
    border: none;
    padding: 0.75em 0.5em;
    background-color: var(--secondary-theme);
    font-weight: var(--font-weight-bold-1);
    font-size: var(--font-size-sub-heading);
    color: white;
}

/* styles for selected filters count inside apply button */
.filters-dropdown .apply-button span {
    font-weight: var(--font-weight-bold-1);
    font-size: var(--font-size-sub-heading);
    margin-left: 0.25em;
}