/* reviews list container */
.reviews-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    letter-spacing: 0.01rem;
    line-height: 1rem;
}

/* last review card in list */
.reviews-container .review-card:last-child {
    margin-bottom: 1em;
}

/* edit and delete buttons container */
.reviews-container .buttons-container {
    display: flex;
    gap: 0.4em;
}

/* paragraph */
.reviews-container .buttons-container p {
    color: black;
}

/* all buttons */
.reviews-container button {
    background: none;
    border: none;
}
