/* add specific styles to default button component */
.inverse-primary.default-button {
    background-color: white;
    color: var(--primary-theme);
    border: solid 2px var(--primary-theme);
}

/* add specific styles to default button component icon */
.inverse-primary.default-button .icon {
    color: var(--primary-theme);
}