/* styles for popup container */
.error-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: var(--padding-content);
    border: solid 2px var(--secondary-theme);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: 85%;
    max-width: 300px;
    text-align: center;
}

/* styles for no results component when inside error popup */
.error-popup .no-results {
    padding: 0;
    margin-bottom: 1em;
}

/* styles for paragraph tag */
.error-popup p {
    margin-bottom: 1em;
}

/* styles for title */
.error-popup .title {
    color: var(--secondary-theme);
    font-size: 1.2rem;
    font-weight: 700;
}

/* styles for message */
.error-popup .message {
    color: grey;
    font-size: var(--font-size-small);
}