/* review form container */
.review-form {
    position: relative;
    margin-bottom: 1.5em;
}

/* all buttons in form */
.review-form button {
    font-weight: var(--font-weight-bold-1);
}

/* form inside parent container */
.review-form form {
    max-width: var(--max-width-content);
    margin: 0 auto;
    padding: 1rem;
    background-color: #f8f8f8;
    border-radius: var(--border-radius);
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

/* header inside container */
.review-form .review-form-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/* feedback when photo uploaded */
.review-form .review-form-header .upload-feedback-container {
    text-align: right;
}

/* remove button feedback when photo uploaded */
.review-form .review-form-header .upload-feedback-container button {
    background: none;
    border: none;
    color: var(--dark-theme-contrast);
}

/* all direct children of header */
.review-form .review-form-header > * {
    flex-basis: 100%;
}

/* show errors in red */
.review-form .error {
    color: red;
}

/* move rating error higher */
.review-form .rating-error {
    margin-top: -1em;
}

/* star rating icon */
.review-form .interactive-star-rating .icon {
    font-size: 1rem;
    cursor: pointer;
}

/* div as direct child of form */
.review-form form > div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/* margin top for star rating and text area */
.review-form form .interactive-star-rating,
.review-form form textarea {
    margin-top: 0.75em;
}

/* label inside form */
.review-form form label {
    font-weight: var(--font-weight-bold-2);
    font-size: var(--font-size-sub-heading);
}

/* text area */
.review-form form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: var(--font-size-sub-heading);
    width: 100%;
    resize: vertical;
    min-height: 100px;
}

/* paragraph inside form */
.review-form form p {
    color: var(--primary-theme);
    font-size: var(--font-size-smaller);
    margin-top: 0.25rem;
}

/* submit button */
.review-form .review-submit {
    background-color: var(--primary-theme);
    color: white;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: solid 2px var(--primary-theme);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

/* submit button/cancel button when hovered */
.review-form .buttons-container .review-submit:hover,
.review-form .buttons-container .cancel:hover {
    background-color: var(--secondary-theme);
    border-color: var(--secondary-theme);
    color: white;
}

/* blurred container when submission feedback present */
.review-form .review-form-container.blurred {
    filter: blur(2px);
    pointer-events: none;
}

/* overlay for submission confirmation */
.review-form .confirmation-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1;
}

/* heading inside overlay */
.review-form .confirmation-overlay h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* paragraph inside overlay */
.review-form .confirmation-overlay p {
    font-size: 1.2rem;
    text-align: center;
}

/* buttons container */
.review-form .buttons-container {
    display: flex;
    flex-direction: row;
}

/* button in buttons container */
.review-form .buttons-container button {
    width: 100%;
}

/* cancel button - when in edit mode */
.review-form .buttons-container .cancel {
    background-color: white;
    color: var(--primary-theme);
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: solid 2px var(--primary-theme);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

/* title for form - present if in edit mode */
.review-form h2 {
    text-align: center;
}

/* edit icon in title for form - present if in edit mode */
.review-form h2 .edit-icon {
    margin-left: 0.5em;
    color: var(--primary-theme);
}