/* styling for CheckInsMapChildren */

/* styling of the popup */
.check-ins-map-popup {
    text-align: center;
    width: fit-content;
    max-width: 200px;
}

/* styling of the header */
.check-ins-map-popup h3 {
    font-size: var(--font-size-sub-heading);
    color: var(--primary-theme);
    font-weight: var(--font-weight-bold-1);
}

.check-ins-map-popup a {
    text-decoration: none;
}

/* styling of icon */
.check-ins-map-popup a .icon {
    color: var(--primary-theme);
    margin-left: 0.25em;
}

.check-ins-map-popup a:hover h3,
.check-ins-map-popup a:hover .icon {
    color: var(--secondary-theme);
}

.check-ins-map-popup .content > div {
    display: flex;
    gap: 0.5em;
    justify-content: center;
}

/* stlying of the button */
.check-ins-map-popup button {
    background: none;
    border: none;
    text-decoration: underline;
}