/* styles for form field label container */
.form-field {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: var(--font-size-sub-heading);
}

/* styles for input enclosed by label */
.form-field input {
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 1rem;
    outline: none;
    background-color: white;
    color: black;
}

/* styles for when input is focused */
.form-field input:focus {
    border-color: var(--secondary-theme);
}